:root{ 
    --preto: black;
    --branco: white;
    --verde: green;
}

body{
    font-family: 'Arial';
    background-color: var(--preto);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.conteudo{
    display: flex; /* usado para mexer na posicao dos elementos */
    flex-direction: column;
    gap: 2rem; /* espaçamento entre os elementos */
}

.adicionar-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap; /* ajuda na responsividade do sistema */
}

/* aqui eu junto os 2 id separando por virgula */
#nova-tarefa,
#input-nova-tarefa{
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
}

#input-nova-tarefa{
    width: 20rem;
    border-radius: 1rem;
}

#nova-tarefa{
    background-color: var(--verde);
    color: var(--preto);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .4s;
}

#nova-tarefa:hover{
    background-color: chartreuse;
}


#lista-afazeres{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

#lista-afazeres li{
    list-style-type: none;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
}
